

p {
  font-family: Helvetica;
    
}

td {
  background-color: rgb(211, 207, 207);
  cursor: pointer;
}

img {
  max-width: 100px;
  max-height: 600px;
  padding: 5px 5px;
}

button {
  background-color: rgb(76, 175, 175); 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  
}

#numberOfCarts {
  border-radius: 8px;
  width: 450px;
  padding: 5px 10px;
  font-family: Helvetica;
  font-size: 16px;
  
}

/*
 #table0, #table1, #table2, #table3 {
  
  
}
*/